<div>
  <div class="row">
  <div class="col-xs-11">
    <select multiple chosen="{width: '100%'}" data-placeholder="{{ 'SELECT' | translate }}" ng-model="selectedEmails" class="chosen-select" ng-options="e for e in emails" ng-readonly="true" ng-disabled="true">
      <option value=""></option>
    </select>
  </div>
  <div class="col-xs-1 text-right">
    <button ng-show="!addNewEmail" ng-click="addNew(true)" class="btn-white btn btn-sm "><i class="fa fa-plus-square fa-2" aria-hidden="true"></i></button>
    <button ng-show="addNewEmail" ng-click="addNew(false)" class="btn-white btn btn-sm "><i class="fa fa-minus-square fa-2" aria-hidden="true"></i></button>
  </div>
  </div>
  <br/>
  <div class="form-group" ng-show="addNewEmail">
    <label>{{ 'ENTERNEWMAIL' | translate }}</label>
    <input maxlength="100" ng-model="addedEmail" ng-pattern="formatEmail" type="text" placeholder="{{ 'ADDNEWMAIL' | translate }}" class="form-control" />
  </div>  
</div>